
{% if cards %}
<div id="cards-content">
<div  class="row">
<div class="table-responsive col-sm-12">	
	<table class="table table-hover">		
		<thead>			
			<tr>
				<th width="140">{{ 'pixel.shop::lang.fields.card.card'|trans }}</th>
				<th width="140">{{ 'pixel.shop::lang.fields.card.name'|trans }}</th>
				<th width="100">{{ 'pixel.shop::lang.fields.card.card_network'|trans }}</th>
				<th width="40" >{{ 'pixel.shop::lang.fields.card.status'|trans }}</th>
				<th width="50">{{ 'pixel.shop::lang.fields.action'|trans }}</th>
			</tr>
		</thead>
		<tbody>
			{% for card in cards %}
			<tr>
				<th>
					**** **** **** {{card.card_last}}
				</th>
				<td>
					{{ card.card_holder}}
				</td>
				<td>
                        <img src="{{ '/plugins/pixel/shop/assets/img/icon-'|app }}{{ card.card_network }}.svg" alt="" width="45" height="35">
				</td>
				
				<td>
					{% if card.status == "active" %}
				
					<span class="label label-success status-{{ card.status }}" >
						{{ ('pixel.shop::lang.fields.card.status_type.' ~ card.status)|trans }}
					</span>

					{% else %}
					<span class="label label-danger status-{{ card.status }}" >
						{{ ('pixel.shop::lang.fields.card.status_type.' ~ card.status)|trans }}
					</span>
					{% endif %}
				</td>
				
				<td>
					<a href="javascript:;" data-request="{{ __SELF__ }}::onLoadCard" data-request-data="token: '{{card.token}}'" class="btn btn-default btn-xs">
						<i class="fas fa-search"></i> {{ 'pixel.shop::lang.fields.card.edit'|trans }}
					</a>
				</td>
			</tr>
			{% endfor %}

		</tbody>
	</table>	
</div>
{% else %}
	<div class="row">
		<div class="col-md-12">
			<div class="text-center">
				<i class="fas fa-search fa-6x"></i>
				<h1>{{ 'pixel.shop::component.cart.no_results'|trans }}</h1>
			</div>
		</div>
	</div>
{% endif %}
</div>
</div>