<div class="payment-info">
	<div class="info" style="display: block;">
		<img src="{{ '/plugins/pixel/shop/assets/img/icon-buy.svg'|app }}" width="50" height="50" style="float: left; margin: 4px 10px 4px 0px; max-height: 50px">
		<p style="clear: right; font-size: 14px">{{ 'pixel.shop::component.cart.pixelpay_comment'|trans }}</p>
	</div>
	<hr style="margin: 5px 0px">
	<img src="{{ '/plugins/pixel/shop/assets/img/badges.png'|app }}" alt="Pagos Seguros con PixelPay" height="45" width="300" class="img-responsive" style="margin-top: 5px; max-height: 45px; float: left">
	<div style="clear: both"></div>
</div>