<div class="text-danger mt-5" data-validate-for="gateway"></div>
<ul class="list-group">
  {% for method in methods_list %} 
  	{% if method.gateway == 'pixelpay' %}
		{% if tokenization == 0 %}
			<li class="list-group-item">
				<div class="list-radio">
					<input type="radio" value="pixelpay" name="gateway" data-msg-required="Por favor, elija un método de pago primero" checked="checked" id="method-pixelpay" required="">
					<label for="method-pixelpay">PixelPay</label>
				</div>
				<div class="payment-info">
					<div class="info">						
						<img src="{{ '/plugins/pixel/shop/assets/img/icon-pixelpay-gateway.svg'|app }}" width="50" height="50">
						
					{% autoescape false %}
						<p>{{ 'pixel.shop::component.cart.pixelpay_comment'|trans }}</p>
					{% endautoescape %}

					</div>
					<hr>
					<img src="{{ '/plugins/pixel/shop/assets/img/badge.png'|app }}" alt="Pagos Seguros con PixelPay" height="45" width="480" class="img-responsive">
				</div>
			</li>
		{% else %}	
			{% for
			  card in cards %}
			  <li
				  id="item-class pixel_card"
				  class="list-group-item {% if not card.status == 'active' %}disabled{% endif %}"
				  onclick="hiddenDataHolder()"
			  >
				  <div class="list-radio">
				  <input type="radio" value="{{ card.reference }}" name="gateway" {% if not
				  card.status == 'active' %} disabled="disabled" {% endif %} id="card-{{
				  card.token }}" >
				  <label for="card-{{ card.reference }}">
					  <div class="info">
					  <strong> {{card.reference}}</strong>
					  <p>Type {{ card.type }} </p>
					  </div>
					  <div class="card" style="border: none">
					  <img
						  src="{{ '/plugins/pixel/shop/assets/img/icon-'|app }}{{ card.network }}.svg"
						  alt=""
						  width="64"
						  height="64"
					  />
					  </div>
				  </label>
				  </div>
			  </li>
			{% endfor %}
		{% endif %}
	{% endif %}
  {% endfor %}
</ul>