<h4>{{ 'pixel.shop::component.cart.shipping_address'|trans }}</h4>
<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<label>{{ 'pixel.shop::lang.fields.address'|trans }}</label>
			<input type="text" class="form-control" placeholder="1234 Main St" value="{{ user.shipping_address.first_line ?: cart.shipping_address.first_line }}" name="shipping_address[first_line]">
			<div class="invalid-feedback" data-validate-for="shipping_address.first_line"></div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label>{{ 'pixel.shop::lang.fields.address_alt'|trans }} <span class="text-muted">({{ 'pixel.shop::component.cart.optional'|trans }})</span></label>
			<input type="text" class="form-control" placeholder="Apartment or suite" value="{{ user.shipping_address.second_line ?: cart.shipping_address.second_line }}" name="shipping_address[second_line]">
		</div>
	</div>
</div>
<div class="row">
	<div class="col-shipping col-md-3">
		<div class="form-group">
			<label>{{ 'pixel.shop::lang.fields.country'|trans }}</label>
			<select 
				class="form-control" 
				name="shipping_address[country]" 
				data-request="onShippingCountrySelect" 
				data-request-success="Cart.setShippingCountryOnSelect(data)">
				<option value="">{{ 'pixel.shop::component.cart.choose'|trans }}</option>
				{% for country in countries %}
				<option 
					value="{{ country.code }}" 
					{% if user.shipping_address.country == country.code or cart.shipping_address.country == country.code %}
					selected="selected"
					{% endif %}>
					{{ country.name }}
				</option>
				{% endfor %}
			</select>
			<div class="invalid-feedback" data-validate-for="shipping_address.country"></div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label>{{ 'pixel.shop::lang.fields.state'|trans }}</label>
			<select class="form-control" name="shipping_address[state]" data-request="onShippingStateSelect">
				{% partial '@shipping_states' %}
			</select>
			<div class="invalid-feedback" data-validate-for="shipping_address.state"></div>
		</div>
	</div>
	<div class="col-shipping col-md-3">
		<div class="form-group">
			<label>{{ 'pixel.shop::lang.fields.city'|trans }}</label>
			<input type="text" class="form-control" name="shipping_address[city]" value="{{ user.shipping_address.city ?: cart.shipping_address.city }}">
			<div class="invalid-feedback" data-validate-for="shipping_address.city"></div>
		</div>
	</div>
	<div class="col-shipping-zip col-md-2">
		<div class="form-group">
			<label>{{ 'pixel.shop::lang.fields.zip'|trans }}</label>
			<input type="hidden" name="shipping_zip_required">
			<input type="text" class="form-control" name="shipping_address[zip]" value="{{ user.shipping_address.zip ?: cart.shipping_address.zip }}">
			<div class="invalid-feedback" data-validate-for="shipping_address.zip"></div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<label>{{ 'pixel.shop::lang.fields.note'|trans }}</label>
			<textarea name="notes" class="form-control" rows="2">{{ cart.notes }}</textarea>
		</div>
	</div>
</div>